.form {
  display: flex;
  flex-direction: column;
  width: auto;
}

.input {
  display: block;
  min-width: 230px;
  color: rgb(238, 238, 238);
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  padding: 0.8rem 1.5rem;
  background-color: transparent;
  border: none;
  border-radius: 1.8rem;
  box-shadow: var(--shadow-inset);
  outline: none;
  margin-bottom: 25px;
}

.input:focus,
.input:active {
  box-shadow: var(--shadow-normal);
}

.input::placeholder {
  font-family: "Montserrat", sans-serif;
  color: rgb(238, 219, 241);
  opacity: 0.5;
}

.addButton {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  width: auto;
  margin: auto;
  background-color: transparent;
  border: none;
  border-radius: 1.8rem;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.3s ease-out;
  margin-bottom: 50px;
  padding: 0.8rem 1.2rem;
  outline: none;
  box-shadow: var(--shadow-normal);
  cursor: pointer;
}

.addButton:hover,
.addButton:focus {
  box-shadow: var(--shadow-inset);
}
