.form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.input {
  padding: 5px 10px;
  width: 250px;
  margin-bottom: 20px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  background-color: rgba(158, 158, 158, 0.219);
}

.addButton {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  width: 100px;
  height: 26px;
  background-color: rgba(43, 43, 43, 0.322);
  border-style: none;
  border-radius: 10px;
  color: rgb(31, 31, 31);
  cursor: pointer;
  transition: 0.3s ease-out;
}

.addButton:hover {
  box-shadow: 0 4px 10px 0 rgba(85, 85, 85, 0.3);
  background-color: rgb(71, 71, 71);
  color: white;
}
