.ul {
  font-family: "Roboto", sans-serif;
  width: 300px;
}

.deleteButton {
  padding-left: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: transparent;
  border-style: none;
  border-radius: 20px;
  color: rgb(31, 31, 31);
}
